# Dependencies
node_modules/

# Build output
dist/
build/

# IDE
.idea/
.vscode/

# Git
.git
.gitignore

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Env files
.env.local
.env.*.local

# Docs
*.md



